body {
  background: url("img/homeBack.jpg");
  background-size: cover;
  margin: 8px;
}

#homePage {
  height: calc(100vh - 4em);
}

#welcomeQouteParent {
  display: table;
  height: 100%;
  width: 100%;
}

#child {
  display: table-cell;
  vertical-align: middle;
}

#child>h1 {
  white-space: nowrap;
  font-size: 7vw;
  margin-top: 0;
  margin-bottom: 0;
}

#child>h6 {
  font-weight: 350;
  font-size: 4vmin;
  margin-right: 15vw;
  margin-left: 15vw;
}

#child>a {
  background-color: #F7286E;
  margin-top: 2em;
}
