body {
  background-color: #38003c;
  color: white;
}

#logo {
  max-height: 2em;
}

nav {
  background-color: hsl(339, 100%, 50%);
  height: 4em;
  color: white;
}

#navbarSupportedContent {
  background-color: hsl(339, 100%, 50%);
}

.navbar-toggler-icon {
  color: white;
}

header {
  background: #38003c;
  background-image: url("../img/header.png");
  background-size: cover;
}

header h3 {
  padding: 1em;
  padding-left: 2em;
}

#homePage {
  height: calc(100vh - 4em);
  background: url("../img/homeBack.jpg");
  background-size: cover;
}

#welcomeQouteParent {
  display: table;
  height: 100%;
  width: 100%;
}

#child {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

#child>h1 {
  white-space: nowrap;
  font-size: 7vw;
  margin-top: 0;
  margin-bottom: 0;
}

#child>h6 {
  font-weight: 350;
  font-size: 4vmin;
  margin-right: 15vw;
  margin-left: 15vw;
}

#child>button {
  margin-top: 2em;
}

#matches,#leagueTable {
  background-color: white;
  color: black;
}

#summary {
  background-color: white;
  color: black;
}

#details {
  padding-top: 1em;
  padding-bottom: 2em;
}

#summary h4{
  padding-top: 2em;
  padding-bottom: 1em;
}

#matches h4{
  padding-top: 2em;
}

#leagueTable h4{
  padding-top: 2em;
}

#team {
  text-align: center;
  background : url("../img/teamback.jpg");
  background-size: cover;
}

#team h4 {
  padding-top: 2em;
}

#singlematch {
  background-color: white;
  color: black;
}

#singlematch h4 {
  padding-top: 2em;
  padding-bottom: 3em;
}

#singlematch img {
  padding-bottom: 3em;
}

#singlematch #backbtn {
  padding-left: 2em;
  padding-bottom: 2em;
}

footer {
  color: white;
  background-color: hsl(296, 100%, 12%);
  padding: 2em;
}

footer .card {
  background-color: hsl(296, 100%, 12%);
  border: 3px solid hsl(0, 0%, 95%);
}

footer .footer-copyright {
  color: white;
}