body {
  background-color: #38003c;
  color: white;
}

#logo {
  max-height: 2em;
}

nav {
  background-color: hsl(339, 100%, 50%);
  height: 4em;
  color: white;
}

#navbarSupportedContent {
  background-color: hsl(339, 100%, 50%);
}

.navbar-toggler-icon {
  color: white;
}

header {
  background: #38003c;
  background-image: url("../img/header.png");
  background-size: cover;
}

header h3 {
  padding: 1em;
  padding-left: 2em;
}

#homePage {
  height: calc(100vh - 4em);
  background: url("../img/homeBack.jpg");
  background-size: cover;
}

#welcomeQouteParent {
  display: table;
  height: 100%;
  width: 100%;
}

#child {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

#child>h1 {
  white-space: nowrap;
  font-size: 7vw;
  margin-top: 0;
  margin-bottom: 0;
}

#child>h6 {
  font-weight: 350;
  font-size: 4vmin;
  margin-right: 15vw;
  margin-left: 15vw;
}

#child>button {
  margin-top: 2em;
}

#matches,#leagueTable {
  background-color: white;
  color: black;
}

#summary {
  background-color: white;
}

#matches h4{
  padding-top: 2em;
}

#summary h4{
  padding-top: 2em;
  padding-bottom: 1em;
}

#leagueTable h4{
  padding-top: 2em;
}

#team {
  text-align: center;
  background : url("../img/teamback.jpg");
  background-size: cover;
}

#team h4 {
  padding-top: 2em;
}

.myslider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.myslider.myslider-slider {
  top: 0;
  left: 0;
}

.myslider.myslider-slider .myslider-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.myslider.myslider-slider .myslider-fixed-item.with-indicators {
  bottom: 68px;
}

.myslider.myslider-slider .myslider-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.myslider.myslider-slider .myslider-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.myslider.myslider-slider .myslider-item p {
  font-size: 15px;
}

.myslider .myslider-item {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.myslider .myslider-item > img {
  width: 100%;
}

.myslider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.myslider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

.myslider .indicators .indicator-item.active {
  background-color: #fff;
}

.myslider.scrolling .myslider-item .materialboxed,
.myslider .myslider-item:not(.active) .materialboxed {
  pointer-events: none;
}
