<!doctype html>
<html lang="en" ng-app="eplApp">
<head>
  <title>SoccerWay</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="css/ui-carousel.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
  <script src="https://use.fontawesome.com/5aafece338.js"></script>

  <nav class="navbar navbar-expand-md" ng-controller="yearController as myYear">
    <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" class="img-responsive" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><strong>=</strong></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" ui-sref="summary">Summary <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" ui-sref="matches">Matches <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" ui-sref="table">Table <span class="sr-only">(current)</span></a>
        </li>     
      </ul>
      <form action="#" ng-model="myApp.year" class="form-inline">
        <input name="group1" ng-model="myYear.year" type="radio" id="2015/16" value="2015/16" ng-click="myYear.change()" />
        <label for="2015/16">2015/16</label>
        <input name="group1" ng-model="myYear.year" type="radio" id="2016/17" value="2016/17" ng-click="myYear.change()" />
        <label for="2016/17">2016/17</label>    
      </form>   
    </div>
  </nav>
  <header ng-controller="yearController as myYear" ng-hide="myYear.header">
    <h3>{{myYear.headerYear}} Season</h3>
  </header>

  <main>
   <div ui-view>

   </div>

 </main>

 <footer>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Summary</h4>
          <p class="card-text">All that happened in the cup. To get an overview:</p>
          <a ui-sref="summary" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Matches</h4>
          <p class="card-text">Find all the macthes happened in the Premier league cup. Filterred by weeks.</p>
          <a ui-sref="matches" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Table</h4>
          <p class="card-text">All the team stats are shown in tabular form. You can filter them by weeks in premier league cup too.</p>
          <a ui-sref="table" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Rankit Bishnoi
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="js/angular-touch.js"></script>
<script src="js/ui-carousel.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/routing.js"></script>
</body>
</html>