<link rel="stylesheet" type="text/css" href="css/homePage.css">
<section class="homePage">
	<div id="welcomeQouteParent">
		<div class="white-text center-align" id="child" >
			<h6>Welcome To</h6>
			<h1><span><i class="fa fa-futbol-o" aria-hidden="true"></i></span> Premier League <span><i class="fa fa-futbol-o" aria-hidden="true"></i></span></h1>
			<h6>Here you will find everything about the best game in the entire world. Pure emotions, latest news, statisctics in details and much more.</h6> 
			<a class="waves-effect btn-large">Get Started</a>
		</div>
	</div>          
</section>