<section id="matches" class="container"  ng-controller="matchesController as myMatches" ng-init="myMatches.loadAllData()">
  <div>
    <h4>Matches:<hr>
      <form action="#">
        <p class="range-field">
          <label for="test5">Select Week: </label>
          <select id="test5" ng-model="myMatches.weekSelect" ng-options="n for n in ([] | range:1:39)"></select>
        </p>
      </form>
    </h4> <h6>Week : {{myMatches.weekSelect}}</h6><hr>
    <table class="table-striped table table-bordered table-hover">
      <thead>
        <tr>
          <th class="d-sm-none d-none d-md-block">Day</th>
          <th>Date</th>
          <th class="text-right">Home-Team</th>
          <th class="text-center">Score</th>
          <th>Away-Team</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="matchday in myMatches.matchWeeks[(myMatches.weekSelect-1)].matches" ng-click="myMatches.saveData($index)" ui-sref="singlematch">
          <td class="d-none d-sm-none d-md-block" ng-show="matchday.date != myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date">{{matchday.date | date:'EEEE' }}</td>
          <td class="d-sm-none d-none d-md-block" ng-show="matchday.date == myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date"> </td>
          <td ng-show="matchday.date != myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date" ng-bind="matchday.date | date:'mediumDate'"></td>
          <td ng-show="matchday.date == myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date"> </td>
          <td class="text-right d-sm-block d-md-none d-lg-none">{{ matchday.team1.code }}</td><td class="text-right d-sm-none d-none d-md-block">{{ matchday.team1.name }}</td>
          <td class="text-center">{{ matchday.score1 }} : {{ matchday.score2 }}</td>
          <td class="d-sm-block d-md-none d-lg-none">{{ matchday.team2.code }}</td><td class="d-sm-none d-none d-md-block">{{ matchday.team2.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>