<section id="Matches" class="container"  ng-controller="matchesController as myMatches" ng-init="myMatches.loadAllData()">
  <div class="card-panel hoverable">
    <h4>Matches<i class="material-icons">arrow_forward</i><hr>
      <form action="#">
        <p class="range-field">
          <label for="test5">Select Week: </label>
          <input type="range" id="test5" min="1" max="38" ng-model="myMatches.weekSelect" />
        </p>
      </form>
    </h4> <h6>Week : {{myMatches.weekSelect}}</h6><hr>
    <table class="striped highlight bordered">
      <thead>
        <tr>
          <th class="hide-on-small-only">Day</th>
          <th>Date</th>
          <th class="right-align">Home-Team</th>
          <th class="center-align">Score</th>
          <th>Away-Team</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="matchday in myMatches.matchWeeks[(myMatches.weekSelect-1)].matches">
          <td class="hide-on-small-only" ng-show="matchday.date != myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date">{{matchday.date | date:'EEEE' }}</td>
          <td class="hide-on-small-only" ng-show="matchday.date == myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date"> </td>
          <td ng-show="matchday.date != myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date" ng-bind="matchday.date | date:'mediumDate'"></td>
          <td ng-show="matchday.date == myMatches.matchWeeks[(myMatches.weekSelect-1)].matches[$index-1].date"> </td>
          <td class="right-align"><a ng-click='myMatches.toast(matchday.team1.name)'>{{ matchday.team1.code }}</a></td>
          <td class="center-align">{{ matchday.score1 }} : {{ matchday.score2 }}</td>
          <td><a ng-click='myMatches.toast(matchday.team2.name)'>{{ matchday.team2.code }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>