<section id="singlematch" ng-controller="singleMatchController as mySingleMatch" class="container">
	<div>
		<div>
			<h4 class="text-center">Week : <span>{{mySingleMatch.data.week}}</span> </h4>
		</div>
		<div class="row">
			<div class="col-4 text-center">
				<h6>{{mySingleMatch.data.match.team1.name}}</h6>
			</div>
			<div class="col-4 text-center">
				<h6>{{mySingleMatch.data.match.score1}} : {{mySingleMatch.data.match.score2}} </h6>
			</div>
			<div class="col-4 text-center">
				<h6>{{mySingleMatch.data.match.team2.name}}</h6>
			</div>
		</div>
		<div>
			<img src="img/singlematch.png" class="img-responsive" width="100%">
		</div>
		<div>
			<button type="button" class="btn btn-outline-dark" ui-sref ="matches" id="backbtn">Back</button>
		</div>

	</div>
</section>